@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    max-width: 1320px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

nav {
    background-color: yellow;
    padding: 30px 0;
}

.card {
    padding: 35px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 30px;
}

.card:hover {
    box-shadow: 0px 8px 35px rgba(0, 0, 0, 0.1);
    border: none;
}

.card .cardHeading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #000000;
}

.cardInfo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #666666;
}

.cardInfo:hover {
    color: #000000;
}


.cardInfo>span {
    margin-right: 12px;
}


.d-flex {
    display: flex;
}

.w-100 {
    width: 100%;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.pageBtn {
    cursor: pointer;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    background: #2C49FE;
    border-radius: 23px;
    padding: 11px 28px;
    border: 1px solid #2C49FE;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.mb-24 {
    margin-bottom: 24px;
}

.d-none {
    display: none;
}

label[for="menuIcon"] {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.z-index-1 {
    z-index: 1;
}



@media (min-width:768px) {
    nav ul li a {
        margin-left: 20px;
    }

    .col-md-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }
}

@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .mb-lg-0 {
        margin-bottom: 0;
    }

    .bg-lg-black {
        background-color: black;
    }
}

@media (max-width:768px) {
    .pageLogo>img {
        max-width: 150px;
    }

    label[for="menuIcon"]>span {
        width: 100%;
        height: 3px;
        border-radius: 2px;
        background-color: red;
    }

    .sm-screen {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        background-color: khaki;
        opacity: 0;
        pointer-events: none;
        transition: all 200ms linear;
    }

    input[type="checkbox"]:checked+ul.sm-screen {
        opacity: 1;
        pointer-events: all;
        left: 0;
    }
}