<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>event free</title>
    <link rel="stylesheet" href="./assets/css/next event.css">
</head>

<body>
    <footer class=" bg min-h  ">
        <div class="footer_container">
            <div class="row">
                <div class="col_12 col-md-6 col-lg-4 mb-24">r

                    <div class="d_flex align_item">

                        <img src="./assets/images/image 1 (3).png" alt="word">

                        <h1 class="f_f text_c">Events<span class="t_c">free</span></h1>
                    </div>
                    <div class="max_w_346">
                        <p class="p_font_f p_t_c margin44">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Nunc efficitur urna in dictum
                            suscipit. Suspendisse maximusipsum sem. c</p>
                    </div>
                    <div class="mt24 gap23">

                        <a href=""><img src="./assets/images/insta.svg" alt="insta"></a>
                        <a href=""><img src="./assets/images/facebook.svg" alt="facebook"></a>
                        <a href=""><img src="./assets/images/twiter.svg" alt="twiter"></a>



                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="row">
                        <div class="cal-12 col-md-5">
                            <h3 class="link font_f">SERVICES</h3>
                            <div class="ul_link_f_f">
                                <ul>
                                    <li><a href="">About</a></li>
                                    <li><a href="">News</a></li>
                                    <li><a href="">ullamcorper</a></li>
                                    <li><a href="">Contact</a></li>
                                </ul>
                            </div>
                            </div>
                        </div>
    
                            
                                <div class="col-12 col-md-5">
                                    <h3 class="link font_f">EVENTS</h3>
                                    <div class="ul_link_f_f">
                                        <ul>
                                            <li><a href="">ullamcorper</a></li>
                                            <li><a href="">ullamcorper</a></li>
                                            <li><a href="">ullamcorper</a></li>
                                            <li><a href="">ullamcorper</a></li>



                                        </ul>


                                    </div>


                                </div>


                            </div>

                        </div>

                    </div>


                </div>








            </div>

    </footer>

</body>

</html>