<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>responsiv card</title>
    <link rel="stylesheet" href="./assets/css/task.css">
</head>

<body>
     <h6 class="font_f text_align_center ">Team Member</h6>
            <h2 class=" d_flex justify_content_center">We Have<br>
                <span class="color_orange">
                    Some Awesome</span> People
            </h2>
    <div class="d_flex justify_content_center text_align max_w ">
            <div class="flex_colum d_flex section mt_60 margin ">
                <div class="row "></div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-24 mb-lg-0">

                    <img src="./assets/images/boy.svg" alt="boy">
                    <h6 class="f_family">Gustavo Herwitz</h6>
                    <p class="font_f">UI/UX Designer</p>
                </div>
                <div class="flex_colum d_flex ">
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-24 mb-lg-0">
                        <img src="./assets/images/boys cup .svg" alt="boys cup">
                        <h6 class="f_family">Phillip Curtis</h6>
                        <p class="font_f">Graphic Designer</p>
                    </div>

                    <div class="flex_colum d_flex ">
                        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-24 mb-lg-0">
                            <img src="./assets/images/girl.svg" alt="girl lap">
                            <h6 class="f_family">Talan Torff</h6>
                            <p class="font_f">Web Developer</p>
                        </div>

                        <div class="flex_colum d_flex ">
                            <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-24 mb-lg-0">
                                <img src="./assets/images/girl lap..svg" alt="girl">
                                <h6 class="f_family">Abram Vaccaro</h6>
                                <p class="font_f ">App Developer</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>

</body>

</html>