table,
th,
td {
    border: 2px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.bg-yellowgreen {
    background-color: yellowgreen;
}

table tr th:nth-child(odd) {
    background-color: yellowgreen;
}

table tr td:nth-child(even) {
    background-color: yellowgreen;
}